@import url('../fonts/fonts.css');

:root {
	--clr-title: #3D4F9F;
	--clr-text: #8D96BD;
	--clr-link: #697CA6;
	--clr-link-active: #5E81FE;
	--clr-white: #fff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

.btn {
	padding: 13px 21px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 13px;
	transition: all 0.2s ease;
}

.bth--main {
	background-color: #D2E1FF;
	color: #3A79FF;
}

.bth--main:hover {
	background-color: #2a64e0;
	color: var(--clr-white);
}

.btn--blue {
	padding: 13px 22px;
	background-color: #4C85FF;
	box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
	color: var(--clr-white);
}

.btn--blue:hover {
	background-color: #2a64e0;
}

.btn--gray {
	padding: 13px 25px;
	font-weight: 500;
	color: #ADB4D2;
	border: 1px solid #D1D1E4;
}

.btn--gray:hover {
	background-color: #ADB4D2;
	color: var(--clr-white);
}

.block__subtitle {
	margin-bottom: 25px;
	font-family: 'Roboto';
	font-size: 10px;
	font-weight: 500;
	color: var(--clr-title);
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.block__title {
	margin-bottom: 25px;
	font-family: 'Quicksand';
	font-size: 36px;
	color: var(--clr-title);
	font-weight: 400;
}

.block__title--sm {
	font-size: 24px;
}

.block__title span {
	font-weight: 500;
}

.block__text {
	margin-bottom: 50px;
	font-family: 'Roboto';
	color: var(--clr-text);
	letter-spacing: 0.03em;
	line-height: 1.85em;
}

body {
	font-family: "Roboto" sans-serif;
	color: var(--clr-text);
	font-size: 15px;
}

.container {
	max-width: 990px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/* Main style end */

/* HEADER start */
.header {

}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1240px;
	width: 100%;
	height: 80px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__block {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 76px;
}

.logo__circle {
	width: 26px;
	height: 26px;
	background-color: #5E81FE;
	border-radius: 50%;
}

.nav {
	display: flex;
}

.nav__link {
	margin-right: 42px;
	font-family: 'Quicksand';
	font-size: 12px;
	font-weight: 500;
	color: var(--clr-link);
	letter-spacing: 0.05em;
	transition: 0.5s ease;
}

.nav__link.active {
	font-weight: 700;
	color: var(--clr-link-active);
}

.nav__link:last-child {
	margin-right: 0;
}

.nav__link:hover {
	color: var(--clr-link-active)
}

.social {
	display: flex;
	align-items: center;
	margin-right: 45px;
}

.social__link {
	margin-right: 34px;
	line-height: 1;
}

.social__link:last-child {
	margin-right: 0;
}

.icon {
	height: 16px;
	width: 16px;
	fill: #B6BAC7;
	transition: fill 0.3s ease;
}

.icon:hover {
	fill: #6188FF;
}
/* /HEADER end */

/* /INTRO start */
.intro {
	padding-top: 90px;
	height: 574px;
	display: flex;
	justify-content: center;
	background-size: cover;
	background-position: center;
}

.intro__content {
	max-width: 585px;
	text-align: center;
}

.intro__suptitle {
	margin-bottom: 16px;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 10px;
	color: var(--clr-title);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 1.2em;
}

.intro__title {
	margin-bottom: 25px;
	font-family: 'Quicksand';
	font-weight: 300;
	font-size: 48px;
	line-height: 1.25em;
	color: #3D4F9F;

}

.intro__title span {
	font-weight: 500;
	color: #3D4F9F;
}

.intro__text {
	margin:  0 auto 18px;
	max-width: 480px;
	font-family: 'Roboto';
	color: var(--clr-text);
	font-weight: 400;
	line-height: 1.9em;
	letter-spacing: 0.03em;
	text-align: center;
}

.intro__play {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
	transition: 0.3s ease;
}

.intro__play:hover {
	box-shadow: 0px 10px 50px rgba(170, 189, 195, 0.9);
}

.intro__play .icon {
	height: 11px;
}

/* /INTRO end */

/* /PARTNERS start */
.partners {
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.partners__wrapper {
}

.partners__img {
	height: 30px;
	width: 117px;
	margin-right: 72px;
	fill: #D6DAE5;
	transition: 0.5s ease;
}

.partners__img:last-child {
	margin-right: 0;
}

.partners__img:hover {
	fill: #5982E7;
}

.parthers__img:last-child {
	margin-right: 0;
}

/* /PARTNERS end */

/* /PLANS start */
.plans {
	padding: 200px 0;
	background-color: #F5F8FF;
}

.plans__container {
	padding: 0 0 0 calc(50% - 445px);
}

.plans__wrapper {
	display: flex;
	align-items: center;
}

.plans__block {
	width: 415px;
	margin-right: 55px;
}

.plans__actions {
	display: flex;
}

.btn--blue .icon {
	margin-left: 6px;
	height: 7px;
	fill: var(--clr-white);
}

.plans__actions .btn.btn--gray {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.plans__actions .btn.btn--blue {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.plans__img {
	height: 436px;
}
/* /PLANS end */

/* /ABOUT start */
.about {
	padding: 170px 0;
}

.about__container {
	position: relative;
	max-width: 790px;
	padding: 0 15px;
	margin: 0 auto;
}

.about__clouds {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.about__heading {
	margin-bottom: 90px;
	text-align: center;
}

.about__wrapper {
	margin-bottom: 120px;
	display: flex;
	flex-direction: wrap;
}

.about__block {
	position: relative;
	width: 25%;
}

.about__block::after {
	position: absolute;
	top: calc(50% + 15px);
	left: calc(100% - 28px / 2);
	content: '';
	height: 1px;
	width: 28px;
	background-color: #DAE4FE;
}

.about__block:last-child::after {
	display: none;
}

.about__item {
	width: 140px;
	margin: 0 auto;
	text-align: center;
}

.about__img {
	margin: 0 auto 33px;
	width: 69px;
	height: 69px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #F1F5FF;
}

.about__title {
	margin-bottom: 25px;
	font-family: 'Quicksand';
	font-size: 14px;
	font-weight: 700;
	color: #4074f8
}

.about__text {
	font-family: 'Quicksand';
	font-weight: 500;
	font-size: 11px;
	color: #ADB3CB;
	line-height: 1.7em;
}

.about__actions {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn--red {
	background-color: #FFD7D7;
	color: #D43F3F;
}

.btn--main {
	background-color: #D2E1FF;
	color: #3A79FF;
}

.about__actions-separator {
	margin: 0 16px;
	padding: 0 30px;
	position: relative;
	font-size: 11px;
	color: #ADB3CB;
	font-family: 'Quicksand';
	font-weight: 600;
	text-transform: uppercase;
}

.about__actions-separator::before {
	position: absolute;
	top: 50%;
	left: 0;
	content: '';
	width: 15px;
	height: 1px;
	background-color: #DAE4FE;
}

.about__actions-separator::after {
	position: absolute;
	top: 50%;
	right: 0;
	content: '';
	width: 15px;
	height: 1px;
	background-color: #DAE4FE;
}
/* /ABOUT end  */